.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/Images/hero-image.webp');
    background-position: center;
    background-size: cover;
    filter: hue-rotate(-15deg) grayscale(15%);
    color: white;
    text-shadow: 1px 1px 10px black;
}
.hero > div {
    padding: 1rem 0rem;
}
.welcome {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 5px;
}
.hotel-name {
    text-align: center;
    padding-top: 50px;
    font-family: 'Baumans', cursive;
    font-weight: bolder;
    font-size: 6rem;
    color: skyblue;
}
.desc {
    font-family: 'Bacasime Antique', serif;
    font-size: 3rem;
    text-align: center;
}
.hero button {
    font-family: 'Poppins', sans-serif;
    padding: 1rem 2rem;
    letter-spacing: 2px;
    background-color: white;
    font-weight: bolder;
    outline: 0;
    border: 0px;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: 0.3s;
}

.hero button:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 0px 3px white;
}
.hero button:active{
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .welcome {
        font-size: 1rem;
    }
    .hotel-name{
        font-size: 3rem;
    }
    .desc {
        font-size: 2rem;
    }

}