@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Baumans&family=Didact+Gothic&family=Poppins&display=swap');

body {
  margin: 0px;
}

/* font-family: 'Bacasime Antique', serif;
font-family: 'Baumans', cursive;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Poppins', sans-serif; */